    /* Google fonts import */
    @import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');

    /* Asterisk wildcard selector to override default styles added by the browser */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    /* General styles */
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        /* Generic project styles */
        color: #3a3a3a;
        font-family: 'Lato', sans-serif;
    }

    #logo {
        font-size: 150%;
    }

    /* Header */
    header {
        background-color: #ffffff;
        padding: 0 1rem;
        position: fixed;
        z-index: 99;
        width: 100%;
        box-shadow: 0 2px 2px #3a3a3a;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

    }



    /* h1 style*/
    h1 {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #252525;


    }

    header a {
        text-decoration: none;
        color: inherit;
    }

    /*Style for menu*/
    #menu {
        letter-spacing: 4px;
        font-size: 110%;
        list-style-type: none;
    }

    #menu>li {
        margin: 1em;
    }

    .active {
        /*added bottom to HOME*/
        border-bottom: 1px solid #3a3a3a;
    }

    /* doing nav*/
    nav {
        position: absolute;
        left: 0;
        background-color: #ffffff;
        width: 100%;
        box-shadow: 0 2px 2px #3a3a3a;
        padding-right: 1rem;
        display: none;
        top: 100%;
    }

    #nav-toggle:checked~nav {
        display: block;

    }

    #nav-toggle {
        display: none;
    }

    .nav-toggle-label {
        font-size: 2em;

    }

    /* Main content */
    main {
        background-color: lightblue;
        /* Make main element take up any surplus space to push footer down */
        flex: 1 0 auto;
        margin-top: 50px;
    }

    /* Footer */
    footer {
        background-color: orange;
    }

    /* media querry for 768p up takze obrazovka sa bude navigacia sa bude hybat podla toho*/
    @media screen and (min-width: 768px) {

        /*header*/
        nav {
            display: block;
            position: relative;
            box-shadow: none;
            width: fit-content;
            padding-right: 1rem;
        }

        #menu {
            display: flex;
        }

        menu>li {
            padding-left: 1rem;
        }

        .nav-toggle-label {
            display: none;

        }

        #logo {
            font-size: 280%;
            line-height: 75px;
            margin: 0 0.5rem;
        }

        #main {
            /*main contect posunie dole*/
            margin-top: 90px;

        }
    }